<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.project.orderList.repository.OrderListMappers">

    <select id="findOrder" resultType="com.example.project.orderList.dto.OrderListDto">
        	SELECT 
			p.product_id, 
			p.name, 
			p.prices, 
			p.mileage,
			MIN(pi.p_image) AS images
			FROM orders o
			INNER JOIN PRODUCT p ON o.P_ID = p.PRODUCT_ID
			LEFT JOIN PRODUCT_IMAGE pi ON p.PRODUCT_ID = pi.P_ID
			WHERE o.P_ID = #{pId}
			GROUP BY p.product_id, p.name, p.prices, p.mileage
    </select>

</mapper>