<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.project.orderList.repository.OrderListMappers">

	<select id="findOrder"
		resultType="com.example.project.orderList.dto.OrderListDto">
		SELECT
		o.order_time,
		p.product_id,
		p.name,
		p.prices,
		p.mileage,
		MIN(pi.p_image) AS images
		FROM orders o
		INNER JOIN product p ON o.p_id = p.product_id
		LEFT JOIN product_image pi ON p.product_id = pi.p_id
		WHERE o.u_id = #{uId}
		GROUP BY
		o.order_time,
		p.product_id,
		p.name,
		p.prices,
		p.mileage
		ORDER BY o.order_time DESC;
	</select>
</mapper>