<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.cart.repository.OrderMapper">
	<insert id="insertOrder">
    INSERT INTO orders
    (u_id, p_id, quantity, shipping_memo, address, detail_address, total_mileage)
    VALUES
    (#{uId}, #{pId}, #{quantity}, #{memo}, #{address, jdbcType=VARCHAR}, #{detailAddress, jdbcType=VARCHAR}, #{mileage})
  </insert>
  
  <select id="selectOrderByUid">
  	SELECT * FROM orders WHERE u_id = #{uId}
  </select>
  
  <update id="updateMileage">
  	UPDATE users SET total_mileage = total_mileage +  #{mileage}
	WHERE u_id = #{uId, jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteCart">
  	DELETE FROM cart WHERE u_id = #{uId, jdbcType=VARCHAR} AND check_buy = 'T'
  </delete>
  
</mapper>