<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.remodelingApplication.repository.RemodelingApplicationMapper">
	<select id="findAllList" resultType="com.example.project.remodelingApplication.dto.RemodelingApplicationDto">
		SELECT rr.no,
			   rr.room_size,
			   rr.room,
		       rr.bathroom,
		       rr.u_id,
		       rr.address,
		       rr.ho,
		       rr.dong,
		       rr.application_date,
		       rr.windows,
		       rr.light,
		       rr.floor,
		       rr.break,
		       rr.total_sum
		FROM remodeling_result rr
		INNER JOIN business_acception ba
		ON rr.NO = ba.r_no
		WHERE ba.u_Id = #{uId, jdbcType=VARCHAR}
		ORDER BY rr.application_date DESC
	</select>
	
	<select id="findRemodeling" resultType="com.example.project.remodelingApplication.dto.RemodelingApplicationDto">
		SELECT rr.no,
			   rr.room_size,
			   rr.room,
		       rr.bathroom,
		       rr.u_id,
		       rr.address,
		       rr.ho,
		       rr.dong,
		       rr.application_date,
		       rr.windows,
		       rr.light,
		       rr.floor,
		       rr.break,
		       rr.total_sum
		FROM remodeling_result rr
		WHERE u_id = #{uId, jdbcType=VARCHAR}
		ORDER BY rr.application_date DESC
	</select>
</mapper>